.sectionTitle {
  margin: 0;
}

.form {
  /* text-align: center; */
  width: 300px;
  margin: 8px auto 0;
  padding: 16px;
  border: 1px solid #212121;
  border-radius: 4px;
}

.formField {
  display: block;
  margin-top: 16px;
}

.formField__name {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.addButton {
  margin-top: 16px;
}

.contactTable {
  width: 300px;
  margin: 8px auto 0;
  padding: 16px;
  border: 1px solid #212121;
  border-radius: 4px;
}

.contactList {
  margin: 16px 0 0 0;
  padding: 0;
}

.contactItem {
  display: flex;
  justify-content: space-between;
}

.contactItem:not(:first-child) {
  margin-top: 8px;
}

.contactName {
  font-weight: 600;
}
