.contactList {
    margin: 16px 0 0 0;
    padding: 0;
}

.contactItem {
    display: flex;
    align-items: center;

}

.contactItem:hover {
    /* outline: 1px dashed grey; */
    /* box-shadow: inset 0 0 4px black; */

}

.contactItem:not(:first-child) {
    margin-top: 8px;
}

.contactName {
    font-size: 16px;
    font-weight: 600;
}

.contactNumber {
    margin: 0 16px 0 auto;
}

.delButton {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.delButton:hover {
    background-color: red;
}

.icon {
    
    width: 20px;
    fill: #212121;
    height: auto;
}